@model IEnumerable<Lab3.Models.RestaurantOverviewViewModel>

@{
    ViewData["Title"] = "Overview";
}

<h1>Restaurant Overview</h1>

<table class="table">
    <thead>
        <tr>
            <th>
               ID
            </th>
            <th>
                Restaurant
            </th>
            <th>
                FoodType
            </th>
            <th>
                Rating(1 - 5)
            </th>
            <th>
                Cost(most expenssive=5)
            </th>
            <th>
                City
            </th>
            <th>
                Province
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvinceState)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
    }
    </tbody>
</table>
